In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

In [2]:
salary_train = pd.read_csv("C:/Users/HARSHA/Downloads/SalaryData_Train(1).csv")
salary_test = pd.read_csv("C:/Users/HARSHA/Downloads/SalaryData_Test(1).csv")
string_columns=["age","workclass","education","educationno","maritalstatus","occupation","relationship","race","sex","capitalgain","capitalloss","hoursperweek","native","Salary"]

In [3]:
salary_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in string_columns:
    salary_train[i] = le.fit_transform(salary_train[i])
    salary_test[i] = le.fit_transform(salary_test[i])

colnames = salary_train.columns

In [5]:
salary_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,8,2,1,6,4,6,3,2,1,0,0,39,37,0
1,21,2,11,8,2,4,0,4,1,0,0,49,37,0
2,11,1,7,11,2,10,0,4,1,0,0,39,37,1
3,27,2,15,9,2,6,0,2,1,87,0,39,37,1
4,17,2,0,5,4,7,1,4,1,0,0,29,37,0

In [6]:
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,22,5,9,12,4,0,1,4,1,24,0,39,37,0
1,33,4,9,12,2,3,0,4,1,0,0,12,37,0
2,21,2,11,8,0,5,1,4,1,0,0,39,37,0
3,36,2,1,6,2,5,0,2,1,0,0,39,37,0
4,11,2,9,12,2,9,5,2,0,0,0,39,4,0

In [7]:
salary_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
age              30161 non-null int64
workclass        30161 non-null int32
education        30161 non-null int32
educationno      30161 non-null int64
maritalstatus    30161 non-null int32
occupation       30161 non-null int32
relationship     30161 non-null int32
race             30161 non-null int32
sex              30161 non-null int32
capitalgain      30161 non-null int64
capitalloss      30161 non-null int64
hoursperweek     30161 non-null int64
native           30161 non-null int32
Salary           30161 non-null int32
dtypes: int32(9), int64(5)
memory usage: 2.2 MB

In [8]:
trainX = salary_train[colnames[0:13]]
trainY = salary_train[colnames[13]]
testX  = salary_test[colnames[0:13]]
testY  = salary_test[colnames[13]]

In [9]:
from sklearn import svm
from sklearn.svm import SVC
model_linear = SVC(kernel = "linear")
model_linear.fit(trainX,trainY)
pred_test_linear = model_linear.predict(testX)

np.mean(pred_test_linear==testY)

0.8041832669322709

In [10]:
model_poly = SVC(kernel = "poly")
model_poly.fit(trainX,trainY)
pred_test_poly = model_poly.predict(testX)
np.mean(pred_test_poly==testY)

0.8195219123505976

In [11]:
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(trainX,trainY)
pred_test_rbf = model_rbf.predict(testX)

np.mean(pred_test_rbf==testY)

0.8118193891102258

In [12]:
from sklearn.metrics import classification_report,confusion_matrix

In [13]:
model=SVC()
model.fit(trainX,trainY)

SVC()

In [14]:
pred=model.predict(testX)

In [15]:
print(confusion_matrix(pred,testY))
print(classification_report(pred,testY))

[[11198  2672]
 [  162  1028]]
              precision    recall  f1-score   support

           0       0.99      0.81      0.89     13870
           1       0.28      0.86      0.42      1190

    accuracy                           0.81     15060
   macro avg       0.63      0.84      0.65     15060
weighted avg       0.93      0.81      0.85     15060

In [16]:
np.mean(pred==testY)*100

81.18193891102258